# Generar una Base de Datos desde Python

In [40]:
import sqlite3

#Se crea una conexión y por lo tanto la Base de Datos como tal
conexion= sqlite3.connect("MyDataBase")

cursor= conexion.cursor()

#cursor.execute("CREATE TABLE PRODUCTOS (NOMBRE_ARTICULO VARCHAR(50), PRECIO INTEGER, SECCION VARCHAR(20))")

cursor.execute('''
    CREATE TABLE PRODUCTOS2 (
    CODIGO_ARTICULO VARCHAR(4) PRIMARY KEY,
    NOMBRE_ARTICULO VARCHAR(50),
    PRECIO INTEGER, 
    SECCION VARCHAR(20))
''')

### Incertar un registro

In [42]:
cursor.execute("INSERT INTO PRODUCTOS2 VALUES('AR01','BALÓN', 15, 'DEPORTES')")

### Incertar varios registros

In [44]:
variosProductos= [
    ("AR02", "Camiseta", 10, "Deportes"),
    ("AR03", "Jarrón", 90, "Cerámica"),
    ("AR04", "Camión", 10, "Jugetería")
    
]

cursor.executemany("INSERT INTO PRODUCTOS2 VALUES (?,?,?,?)", variosProductos)

In [46]:
cursor.execute("SELECT * FROM PRODUCTOS")

lista= cursor.fetchall()
lista

[('BALÓN', 15, 'DEPORTES'), ('BALÓN', 15, 'DEPORTES')]

In [49]:
cursor.execute('ALTER TABLE PRODUCTOS ADD CODIGO VARCHAR(4)')

In [50]:
cursor.execute("SELECT * FROM PRODUCTOS")

lista= cursor.fetchall()
lista

[('BALÓN', 15, 'DEPORTES', None, None), ('BALÓN', 15, 'DEPORTES', None, None)]

In [37]:
conexion.commit()

In [38]:
conexion.close()